<html>
  <head>
    <title>Login Page</title>
  </head>
  <body>
    <h1>{{quiz.name}}</h1>
<p>{{quiz.description}}</p>

{{#each quiz.questions}}
  <h2>{{this.question}}</h2>
  {{#each this.answers}}
    <label>
      <input type="radio" name="{{../this.question}}">{{this}}
    </label>
  {{/each}}
{{/each}}
    <h1>Login</h1>
    <form id="login-form" action="/login" method="POST">
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required><br><br>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required><br><br>
      <button type="submit">Login</button>
      <h1>Register</h1>
<form id="register-form" action="/api/users" method="POST">
  <label for="username">Username:</label>
  <input type="text" id="username" name="username" required><br><br>
  <label for="email">Email:</label>
  <input type="email" id="email" name="email" required><br><br>
  <label for="password">Password:</label>
  <input type="password" id="password" name="password" required><br><br>
  <button type="submit">Register</button>
</form>
    </form>
  </body>
</html>

<script src="./js/login.js"></script>
<script src="./js/quizz.js"></script>
