<body ng-app="tennis" ng-controller="tennisMatchCntrl">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <a class="navbar-brand" href="#">Let's Play - Tennis</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li ng-class="tab_index == 0 ? 'active' : ''" ng-click="goToNewGame()"><a href="#">New Game</a></li>
          <li ng-class="tab_index == 1 ? 'active' : ''" ng-click="goToRecords()"><a href="#">Records</a></li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>

  <div class="container">
    <div ng-show="tab_index == 0" class="row">
      <div class="col-md-offset-2 col-md-8 col-sm-offset-1 col-sm-10 col-xs-12">

            <form name="match_form" novalidate>
              <div class="row">
                <div class="col-xs-6">
                  <fieldset class="form-group">
                    <label for="type_of_game">Type</label>
                    <select class="form-control" ng-model="play.type">
                    <option>Singles</option>
                    <option>Doubles</option>
                  </select>
                  </fieldset>
                </div>
                <div class="col-xs-6">
                  <fieldset class="form-group">
                    <label for="match_date">Date</label>
                    <input type="date" class="form-control" ng-model="play.date" />
                  </fieldset>
                </div>
              </div>
              <span ng-show="play.type == 'Singles'">
          <div class="panel panel-default">
            <div class="panel-heading"> Player 1</div>
            <div class="panel-body">
              <fieldset>
<!--                 <label for="team1_plyear1"> Player1:</label> -->
          <select class="form-control" ng-model="play.team1.player1" required>
            <option></option>
            <option ng-repeat="player in players" ng-if="player != play.team2.player1">{{player}}</option>
                </select>
        </fieldset>
              </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">Player 2</div>
            <div class="panel-body">
        <fieldset>
<!--           <label for="team2_player1"> Player2:</label> -->
          <select class="form-control" ng-model="play.team2.player1">
            <option></option>
            <option ng-repeat="player in players " ng-if="player != play.team1.player1">{{player}}</option>
              </select>
        </fieldset>
    </div>
  </div>
        </span>
              <span ng-show="play.type == 'Doubles'">
         <div class="panel panel-default">
           <div class="panel-heading">
             Team 1
           </div>
            <div class="panel-body">        
              <fieldset>
          <label for="team1_plyear1"> Player 1:</label>
          <select class="form-control" ng-model="play.team1.player1">
            <option></option>
            <option ng-repeat="player in players" ng-if="player != play.team1.player2 && player != play.team2.player1 && player != play.team2.player2">{{player}}</option>
          </select>
        </fieldset>
        <fieldset>
          <label for="team1_player2"> Player 2:</label>
          <select class="form-control" ng-model="play.team1.player2">
            <option></option>
            <option ng-repeat="player in players"  ng-if="player != play.team1.player1 && player != play.team2.player1 && player != play.team2.player2">{{player}}</option>
          </select>
        </fieldset>
           </div>
    </div>
        
                <div class="panel panel-default">
           <div class="panel-heading">
             Team 2
           </div>
            <div class="panel-body">
        <fieldset>
          <label for="team2_plyear1"> Player 1:</label>
          <select class="form-control" ng-model="play.team2.player1">
            <option></option>
            <option ng-repeat="player in players"  ng-if="player != play.team2.player2 && player != play.team1.player1 && player != play.team1.player2">{{player}}</option>
          </select>
        </fieldset>
        <fieldset>
          <label for="team2_player2"> Player 2:</label>
          <select class="form-control" ng-model="play.team2.player2">
            <option></option>
            <option ng-repeat="player in players"  ng-if="player != play.team2.player1 && player != play.team1.player1 && player != play.team1.player2">{{player}}</option>
          </select>
        </fieldset>
                  </div>
                  </div>
        </span>
              <fieldset>
                <label for="noOfSets">
                How many sets?
                </label>
                <input type="number" class="form-control" ng-init="play.no_of_sets = 1" ng-model="play.no_of_sets" min="1" style="width: 60px;"></input>
              </fieldset>
              <div class="panel panel-default" ng-if="play.no_of_sets > 0 && play.team1 && play.team2">
                <div class="panel-heading">
                  Scroe Sheet
                </div>
                <div class="panel-body score-sheet">
                  <table>
                    <tr class="border-bottom">
                      <th class="text-align-center"> Player / Set </th>
                      <th class="text-align-center" ng-repeat="i in getNumber(play.no_of_sets) track by $index">{{$index + 1}}</th? </tr>
                        <tr>
                          <td>
                            <span>{{play.team1.player1}}</span> <span ng-if="play.type=='Doubles'">& {{play.team1.player2}}</span>
                          </td>
                          <td ng-repeat="i in getNumber(play.no_of_sets) track by $index">
                            <input type="number" ng-model="play.score[$index].team1" class="game-score-input form-control" ng-change="decide_winner()" min="0">
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <span>{{play.team2.player1}}</span> <span ng-if="play.type=='Doubles'">& {{play.team2.player2}}</span></td>
                          <td ng-repeat="i in getNumber(play.no_of_sets) track by $index">
                            <input type="number" ng-model="play.score[$index].team2" class="game-score-input form-control"  ng-change="decide_winner()" min="0">
                          </td>
                        </tr>
                  </table>
                  <div>
                    Winner : {{play.winner}}
                  </div>
                </div>
              </div>
              <button type="submit" class="btn btn-default" style="float: right" ng-click="save_match()"> Save</button>
              <button type="submit" class="btn btn-primary" style="float: right" ng-click="cancel()"> Cancel</button>
            </form>
          </div>
    </div>
      <div ng-show="tab_index == 1" class="row">
        <div class="col-xs-12">
          <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">Matches</div>
                    <div class="panel-body">
          <fieldset class="inline-block margin-right-10">
            <label>Game:</label>
            <select class="form-control" ng-model="search.type">
              <option>All</option>
              <option>Singles</option>
              <option>Doubles</option>
            </select>   
           </fieldset>
                      <span ng-if="search.type != undefined">
          <fieldset  class="inline-block margin-right-10">
            <label>Player:</label>
            <select class="form-control" ng-model="search.team1.player1" >
              <option></option>
              <option ng-repeat="player in players">{{player}}</option>
           </select>
          </fieldset>
          <fieldset  ng-if="search.type=='Doubles'"
 class="inline-block margin-right-10">
            <label>Player:</label>
            <select class="form-control" ng-model="search.team1.player2" >
              <option></option>
              <option ng-repeat="player in players">{{player}}</option>
           </select>
          </fieldset>
          <label>Vs</label>
          <fieldset  class="inline-block margin-right-10">
            <label>Player:</label>
            <select class="form-control" ng-model="search.team2.player1" >
              <option></option>
              <option ng-repeat="player in players">{{player}}</option>
           </select>
          </fieldset>
          <fieldset  ng-if="search.type=='Doubles'"
 class="inline-block">
            <label>Player:</label>
            <select class="form-control" ng-model="search.team2.player2" >
              <option></option>
              <option ng-repeat="player in players">{{player}}</option>
           </select>
          </fieldset>
                      </span>
          <fieldset class="inline-block margin-right-10">
            <button class="btn btn-default" ng-click="search={}">Clear</button>
          </fieldset>
            </div>

            <!-- Table -->
            <table class="table">
              <tr>
                <th>Date</th>
                <th>Type</th>
                <th colspan="2" style="text-align:center">Versus</th>
<!--                 <th>Team2/Player2</th> -->
                <th>Score</th>
                <th>Winner</th>
              </tr>
              <tr ng-repeat="match in matches | orderBy: '-date' | filterRecords:search">
                <td>{{match.date | date: "MM/dd/yyyy"}}</td>
                <td>{{match.type}}</td>
                <td>{{match.team1.player1}} <span ng-if="match.type=='Doubles'"> & {{match.team1.player2}}</span></td>
                <td>{{match.team2.player1}} <span ng-if="match.type=='Doubles'"> & {{match.team2.player2}}</span></td>
                <td> <span ng-repeat="games in getNumber(match.no_of_sets) track by $index"><span ng-if="$index !=0">, </span>{{match.score[$index].team1}}-{{match.score[$index].team2}}</span>
                </td>
                <td ng-if="match.type=='Singles'">{{match[match.winner].player1}}</td>
                <td ng-if="match.type=='Doubles'">{{match[match.winner].player1}} & {{match[match.winner].player2}}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
    <ul>
      ToDo:
      <li>order by records</li>
      <li>draw </li>
      <li>tie breaker</li>
      <li>filter</li>
      <li>charts for vs</li>
</ul>
</body>